.blockSkeleton {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.terminalDots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.title {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
}

.language {
  flex-shrink: 0;
}

.copyButton {
  flex-shrink: 0;
}
