// ============================================

// Transition & Animation

// ============================================

$transition-duration: 0.4s !default;
$transition-easing: ease !default;
$transition-fast: 0.2s !default;
$animation-duration: 0.7s !default;
