@use '@/shared/styles/variables' as *;
@use '@/shared/ui/Avatar/model/avatar-mixins' as *;

.avatarAbout {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Sizes
  &.sm {
    width: var(--avatar-size-hero-sm);
    height: var(--avatar-size-hero-sm);

    .avatar-circle {
      padding: 2px;
    }

    .initial {
      font-size: 2.5rem;

      @include avatar-initial;
    }
  }

  &.md {
    width: var(--avatar-size-hero-md);
    height: var(--avatar-size-hero-md);

    .avatar-circle {
      padding: 4px;
    }

    .initial {
      font-size: 4rem;

      @include avatar-initial;
    }
  }

  &.lg {
    width: var(--avatar-size-hero-lg);
    height: var(--avatar-size-hero-lg);

    .avatar-circle {
      padding: 6px;
    }

    .initial {
      font-size: 6rem;

      @include avatar-initial;
    }
  }

  // Circle (тонкая градиентная рамка)
  .avatar-circle {
    @include avatar-circle;

    background: var(--gradient-primary);
  }

  // Inner
  .avatar-inner {
    @include avatar-inner;

    overflow: hidden;
    background: var(--avatar-bg);
    border-radius: 50%;

    .initial {
      @include avatar-initial;
    }
  }

  @include avatar-reduced-motion;
}
