@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.navigation {
  @include flex-col;

  flex: 1;
  gap: $spacing-10; // 40px (desktop)
  align-items: flex-start;
  width: 100%;
  padding: $spacing-4 0;

  @media (width <= 1200px) {
    gap: $spacing-8; // 32px
  }
}
