@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.status {
  width: 10px;
  height: 10px;
  border: 2px solid var(--background);
  border-radius: 50%;
  transition: all $transition-duration $transition-easing;
}
