@use '@/shared/styles/variables' as *;

.cardHeader {
  margin-bottom: var(--space-4);

  .divider {
    margin-top: var(--space-4);
  }

  &.withBorder {
    padding-bottom: 0;
  }

  &:last-child {
    .divider {
      display: none;
    }

    margin-bottom: 0;
  }
}

.content {
  display: block;
}
