@use '@/shared/styles/mixins/theme' as *;
@use '@/shared/styles/mixins/typography' as *;

.heading {
  display: block;
  margin: 0;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-normal);

  @include theme-transition;

  &.h1 {
    @include text-6xl;
  }

  &.h2 {
    @include text-5xl;
  }

  &.h3 {
    @include text-4xl;
  }

  &.h4 {
    @include text-3xl;
  }

  &.h5 {
    @include text-2xl;
  }

  &.h6 {
    @include text-xl;
  }

  &.weight-100 {
    @include font-thin;
  }

  &.weight-200 {
    @include font-extralight;
  }

  &.weight-300 {
    @include font-light;
  }

  &.weight-400 {
    @include font-normal;
  }

  &.weight-500 {
    @include font-medium;
  }

  &.weight-600 {
    @include font-semibold;
  }

  &.weight-700 {
    @include font-bold;
  }

  &.weight-800 {
    @include font-extrabold;
  }

  &.weight-900 {
    @include font-black;
  }

  &.primary {
    color: var(--color-text);
  }

  &.muted {
    color: var(--color-text-muted);
  }

  &.inverted {
    color: var(--color-text-inverse);
  }

  &.error {
    color: var(--color-error);
  }

  &.success {
    color: var(--color-success);
  }

  &.warning {
    color: var(--color-warning);
  }

  &.gradient {
    @include gradient-text;
  }

  &.balance {
    text-wrap: balance;
  }

  &.pretty {
    text-wrap: pretty;
  }
}
