.badge {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  border: 2px solid var(--color-surface);
  border-radius: var(--radius-full);

  &.statusOnline {
    background-color: var(--color-success);
  }

  &.statusOffline {
    background-color: var(--color-text-secondary);
  }

  &.statusBusy {
    background-color: var(--color-error);
  }

  &.statusAway {
    background-color: var(--color-warning);
  }
}
